.Lessons_container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    .clip{
        margin: 15px;
    }
    .Lessons_info{
        >* {
            margin: 0px 15px 10px;
        }
        p{text-align: start;}
        .Lessons_title{

        }
        .Lessons_description{

        }
        .Lessons_list{
            text-align: start;
            li{
                text-decoration: underline;
                padding: 5px 0;
                position: relative;
                .tooltiptext{
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 100%;
                    left: 0;
                    // margin-left: -60px;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: black transparent transparent transparent;
                    }
                }
                &:hover .tooltiptext{
                    visibility: visible;
                }
            }
            .active-lesson{
                color: lightblue;
                font-weight: bold;
            }
        }
    }
}